<h1>Product Listing</h1>

<div class="card-container">
    <div class="card" *ngFor="let product of products">
        <div class="card-header">
            <h2>{{ product.productName }}</h2>
        </div>
        
        <div class="card-body">
            <p>Price: {{ product.price | currency:"R" }}</p>
            <p>Description: {{ product.description }}</p>
        </div>

        <div class="card-footer">
            <button class="btn-edit" [routerLink]="['/edit-product', product.id]">Edit</button>
            <button class="btn-delete " (click)="deleteProduct(product.id)">Delete</button>
        </div>
    </div>
</div>

